*{
    margin:0;
    padding:0;
    border:border-box;
    background-color:rgb(110, 47, 205);
}

#navbar{
    background-color:#3F33BD;
    height:70px;
    width:100vw;
    color:white;
    display:flex;
    align-items:center;
}
#navbar ul{
    list-style:none;
    display:flex;
    
}
#navbar ul li{
    margin:0px 23px;
}
#navbar ul li a{
    text-decoration:none;
    color:white;
    font-size:1.2rem;
    font-family: 'Bree Serif', serif;
}
#login-section{
    display:flex;
    justify-content:center;
}
.login{
    border:border-box;
    height: 376px;
    width: 329px;
    border: 2px solid white;
    margin-top: 100px;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    padding:20px 10px;
}
#btn{
    height:30px;
    width:60px;
    color:white;
}
#input{
    background-color: white;
}
#user, #pass{
    padding:5px;
    border-radius:15px;
    height:25px;
    width:150px;
    margin-top:15px;
}
.center{
    text-align:center;
}

